@charset "UTF-8";

/*
   css Copyright © 2005-2012 Karelia Software. All rights reserved.
   css released under Creative Commons License  - http://creativecommons.org/licenses/by-sa/2.5/
   All associated graphics belong to their respective owners and are licensed separately.
*/

/* IE7 hacks */

*:first-child+html .gridItem img {
	position:relative;
	top:0px;
}

*:first-child+html .gridItem h3 {
	position:relative;
	top:0px;
}

/* Navigation arrows */
div.text-navigation { text-align:center; margin-bottom:1em;}
div.text-navigation div { display:inline; margin:0px 0.5em; }
.collection-navigation .disabled-navigation { text-indent:-5000px; }

/* 2.0 wrap compatibility. 2.0-compatible designs can further adjust these if they need */
.wide { display:block; }

.narrow.left {   /* Some designs won't respect without !important */
    float:left!important;
    clear:left!important;
}
.narrow.right {
    float:right!important;
    clear:right!important;
}

.wide.left   .graphic, img.wide.left,   .wide.left video,   .wide.left audio   { display:block; margin-left:0px; margin-right:auto; }
.wide.center .graphic, img.wide.center, .wide.center video, .wide.center audio { display:block; margin-left:auto; margin-right:auto; }
.wide.right  .graphic, img.wide.right,  .wide.right video,  .wide.right audio  { display:block; margin-left:auto; margin-right:0px; }


.ImageElement.left, .AudioElement.left { text-align:left; }
.ImageElement.center, .AudioElement.center { text-align:center; }
.ImageElement.right, .AudioElement.right { text-align:right; }

/* Captions should align themselves with the graphic */
.graphic-container.left .caption { text-align:left; }
.graphic-container.center .caption { text-align:center; }
.graphic-container.right .caption { text-align:right; }

/* Inline iframes need to display as a block to layout right */
.graphic iframe { display:block; }

/* Pagelet photo grids should be generally be auto width (some 1.x designs hardcoded an exact width) */
.pagelet .photogrid-index { width:auto; }

/* For content like amazon which forces white background. Design SHOULD set color for A tag and text color. */
.whiteBackground
{
	background-color:white;
}

.article-info
{
	margin-bottom:1em;
}

/* Firefox reduce dotted lines on links */
.photo-navigation a:focus, .replaced a:focus {overflow:hidden;}

/* Disqus correction to prevent overflow scroll bars in some designs */
#dsq-content { overflow:hidden; }
#dsq-content .dsq-auth-header { width: auto!important; }
#dsq-content .dsq-by { margin: 4px 6px 0px 0px; }
#dsq-content .dsq-by a, #dsq-content .dsq-by a:hover { border: 0px none; }
#dsq-content h3 { margin:0px; }

/* Site menus. Don't wrap the top level items, and wrap sub-menu items normaly. */
#sitemenu-content ul li span.in { white-space:nowrap;}
* html #sitemenu-content ul li span.in {white-space: normal}
*:first-child+html #sitemenu-content ul li span.in {white-space: normal}
#sitemenu-content ul ul li span.in {white-space: normal}
#sitemenu-content span.in { position: relative; }

body { word-wrap:break-word; }

/* Make sure scaled-down images look good in IE */
img { -ms-interpolation-mode: bicubic; }

.photogrid-index-bottom { clear:left; }

.HTMLElement { overflow:hidden; }

/* == Beryllium =============================== *
   v1.0 (1001)
   A Design for Sandvox created by BehindTheRabbit
   http://www.behindtherabbit.com/
   ============================================ */


/* @group GENERAL */

/* Stili default v1.0 */
img {border:none;}
body.allow-sidebar #main img {max-width:100%; height:auto;}
#googlemap img {max-width:none !important;}
.ImageElement, .center.VideoElement { text-align:center;}
dl, dd {font-size:1.2em;}
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
.clear {clear: both; height: 0;}
.hidden {display:none !important;}
.right {margin-left:20px;}
.left {margin-right:20px;}
code, pre { font-family: Menlo,Monaco,"Courier New",monospace; font-size: 1.2em; color: #333333; }
code { padding: 3px 4px; color: #d14; background-color: #f7f7f9; border: 1px solid #e1e1e8;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
pre { display: block; padding: 8.5px; margin: 0 0 9px; line-height: 18px; background-color: #f5f5f5; border: 1px solid #ccc; border: 1px solid rgba(0,0,0,0.15); -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; white-space: pre; white-space: pre-wrap; word-break: break-all; }
pre code { padding: 0; background-color: transparent; }
abbr {font-variant:small-caps;}
cite {font-family:Georgia, Times, "Times New Roman", serif; font-style:italic; color:#999;}
cite em {font-style:normal;}

/* Stili di base */
a:link, a:visited {text-decoration:none;}
a:hover, a:active {text-decoration:underline;}
a.imageLink {text-decoration:none;}

/* @end */


/* @group TYPOGRAPHY */

body {
	margin: 0;
	padding: 0;
	background-color: #F2F2F2;
	color: #444;
	font-family: Georgia, Times, "Times New Roman", serif;
}
h1,h2,h3,h4,h5,h6,#title p,#sitemenu-container,#page-bottom {
	font-family: Avenir,"Helvetica Neue",Calibri,Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
}
h2,h3,h4,h5,h6 {
	color: #222;
}
h2 {
	font-size: 40px;
	padding-top: 30px;
	margin-top: 0;
}
h3, .article .article h2 {
	font-size: 36px;
}
#main p, #main ul {
	font-size: 16px;
	line-height: 1.6em;
}
#main li {
	margin-left: 20px;
}
#main p, #main h2, #main h3 {
	padding-left: 40px;
	padding-right: 40px;
}
#main .pagelet p,
#main .pagelet ul,
.pagelet p,
.pagelet ul {
	font-size: 14px;
}
#sitemenu {
	font-size: 14px;
}
#page-bottom {
	font-size: 12px;
}


/* @end */


/* @group LAYOUT */

#page-container {
	width:920px; margin:0 auto;
}
#main {
	background-color:#FFF;
	padding-bottom: 40px;
}
body.allow-sidebar #main {
	width: 600px;
	float: right;
}
#sidebar-container {
	width:280px;
	float:left;
}
#page-bottom {
	clear: both;
	text-align: center;
	padding: 40px;
	margin: 0;
	color: #999;
}
#page-bottom a {
	color: #999;
	text-decoration: underline;
}


/* @end */

/* @group PAGE-TOP */

#page-top {
	border-left: 1px solid #EEE;
	border-right: 1px solid #EEE;
	background-color: #FAFAFA;
	margin: 0 0 40px 0;
}
#title {
	height: 140px;
}
h1 {
	font-size: 36px;
	margin: 0 40px;
	padding-top: 35px;
}
#title h1 a {
	text-decoration: none; 
}
#title p {
	font-size: 18px;
	margin: 0 40px;
}
#title img { float:right; margin:20px 40px 0 10px; padding:0; }

/* @end */

/* @group SITEMENU */

#sitemenu-container {
	height: 40px; line-height: 40px;
	margin:0; padding:0 30px;
	color: #FFF;
}
#sitemenu a {color:#FFF; text-decoration:none !important; white-space:nowrap;}
#sitemenu ul {margin:0; padding:0;}
#sitemenu ul li {display:inline; padding:0; margin:0;}
#sitemenu ul li.currentPage {color:#CCC;}
#sitemenu ul li .in {line-height:40px; height:40px;	padding:0 8px;}
#sitemenu-content > ul > li > .in,
#sitemenu-content > ul > li > a > .in {
	display:inline-block; 
}

#sitemenu-content > ul > li.hasSubmenu > .in,
#sitemenu-content > ul > li.hasSubmenu > a > .in {
	background: url(images/caret-up.png) bottom no-repeat;
}
ul .submenu-indicator {
	display: none !important;
}


/* 2nd level
   --------------------
*/
.hasSubmenu ul {
	top:30px !important;
	-webkit-box-shadow:none !important;
		-moz-box-shadow:none !important;
		box-shadow:none !important;
	border:1px solid #FFF !important;
}

#sitemenu li li a {
	white-space:normal;
}
#sitemenu-content ul li span.in {white-space:normal;}

#sitemenu ul li ul li .in {
	height:auto !important;
	line-height:1.4em !important;
}
#sitemenu ul li ul li .in {
	display:block;
	padding:8px 15px !important;
	border-bottom:none !important;
}
ul ul li.hasSubmenu > a > .in,
ul ul li.hasSubmenu > .in {
	background:	url(images/caret-side.png) no-repeat right;
}

/* 3rd level
   --------------------
*/
.hasSubmenu ul li ul {
	-webkit-box-shadow:none !important;
		-moz-box-shadow:none !important;
		box-shadow:none !important;
	border:1px solid #FFF !important;
	top:5px !important;
}

/* @end */

/* @group IMAGES */

.article img {
	margin: 0 40px  20px 40px;
}
.article p > img.left {
	margin-left: 0;
}
.article p > img.right {
	margin-right: 0;
}
.article .right.ImageElement img {
	margin-right: 40px;
}
.article .left.ImageElement img {
	margin-left: 40px;
}
.article .wide.center.ImageElement img {
	margin: 40px 0;
}
.ImageElement img {

}
.pagelet img {
	margin: 0;
}
.article-thumbnail {
	width: 64px;
	height: 64px;
	float: left;
	margin: 0 30px 20px 40px;
}
.article-thumbnail img {
	margin: 0;
}


/* @end */

/* @group MAIN BODY */

#main h3 a {
	color: #222;
}

.article .article {
	border-top:1px solid #EEE;
}
.article .article.i1 {
	margin-top: 40px;
}
.article-info {
	margin: 40px;
	clear: both;
}

.timestamp {
	text-align:right;
	margin-top: 20px;
	font-size: 14px;
}

/* @end */


/* @group PAGELETS */

.pagelet {
	background-color: #FFF;
	margin-bottom: 40px;
	padding: 20px;
}
#main .bordered {
	border-left: 4px solid #F2F2F2;
	border-bottom: 4px solid #F2F2F2;
	border-top: 4px solid #F2F2F2;
}

.pagelet h4 {
	font-size: 20px;
	margin: 0 0 20px 0;
	padding-bottom: 15px;
	border-bottom: 4px solid #EEE;
}
.pagelet p, .pagelet ul {
	line-height: 1.4em;
}
.pagelet p:first-child,
.pagelet p:last-child {
	margin-top: 0;
	margin-bottom: 0;
}
#main .pagelet h4 {
	text-align: center;
}
#main .pagelet p {
	padding-left: 0;
	padding-right: 0;
}
#main .pagelet ul {
	margin-left: 0;
	padding-left: 0;
}
#sidebar .pagelet ul {
	margin-left: 20px;
	padding-left: 0;
}
.callout-container {
	width:280px;
	float:right;
	margin-left:40px;
}

.elementIntroduction {
	margin: 20px 0;
}
.caption {
	margin: 20px 0 0 0;
}

/* @end */

/* @group GRIDS */

.gridItem {
	float: left;
	position: relative;
	height: 240px;
}
.gridItem img {
	display: block;
	margin: 0 auto;
	position: absolute;
	bottom: 100px;
	left: 0;
	right: 0;
}
.gridItem:hover img {
	-webkit-box-shadow: 0px 3px 5px #444;
		-moz-box-shadow: 0px 3px 5px #444;
		box-shadow: 0px 3px 5px #444;
}
.no-sidebar .gridItem {
	width: 180px;
	margin: 0 0 30px 40px;
}
.allow-sidebar .gridItem {
	width: 160px;
	margin: 0 0 30px 30px;
}
.gridItem h3 {
	padding: 0 !important;
	margin: 0 !important;
	border-top: 1px solid #EEE;
	font-size: 14px;
	text-align: center;
	position: absolute;
	top: 170px;
}
.gridItem:hover h3 {
	border-top: 1px solid #DDD;
}
.gridItem h3 a {
	display: block;
	padding: 10px;
	margin: 0;
}
.allow-sidebar .gridItem h3 a {
	width: 140px;
	height: 40px;
}
.no-sidebar .gridItem h3 a {
	width: 160px;
	height: 40px;
}
.gridItem h3 a:hover,
.gridItem:hover h3 a {
	text-decoration: none;
}

/* @end */

/* @group NAVIGATION */

/* Photo navigation
   --------------------
*/
.photo-navigation {
	height:26px;
	width:169px;
	margin:0 auto 20px auto;
}
.photo-navigation .previous-page a,
.photo-navigation .next-page a,
.photo-navigation .collection-index a {
	opacity:0.4;
	display:block;
	height:26px;
	text-indent:-9999px;
	overflow:hidden;
}
.photo-navigation .collection-index {
	margin-left:17px;
}
.photo-navigation .previous-page a:hover,
.photo-navigation .next-page a:hover,
.photo-navigation .collection-index a:hover {
	opacity:1;
	-webkit-transition:all 0.2s ease;
		-moz-transition:all 0.2s ease;
		-ms-transition:all 0.2s ease;
		transition:all 0.2s ease;
}
.photo-navigation .previous-page a {background:url(images/arrows.png) 0 0 no-repeat #FFF;}
.photo-navigation .next-page a {background:url(images/arrows.png) -124px 0 no-repeat #FFF;}
.photo-navigation .collection-index a {background:url(images/arrows.png) -62px 0 no-repeat #FFF;}
.photo-navigation .previous-page {width:45px; float:left;}
.photo-navigation .next-page {width:45px; float:right;}
.photo-navigation .collection-index {width:45px; float:left;}

/* Text navigation
   --------------------
*/
.text-navigation {
	font-size:13px;
	padding-bottom:10px;
	padding-right: 40px;
}
.text-navigation a:link, .text-navigation a:visited {color:#333;}
.text-navigation a:hover, .text-navigation a:active {text-decoration:underline;}

.text-navigation .collection-index:before {content:"\21A9"; padding-right:5px;}
.text-navigation .previous-page,
.text-navigation .next-page,
.text-navigation .collection-index {display:block; text-align:right; margin:0;}

/* @end */

/* @group BLOCKQUOTES */

blockquote {
	background-color: #FAFAFA;
	border-left:10px solid #ccc;
	margin: 30px 40px;
	padding: 10px 0;
}
.pagelet blockquote {
	border-left: none;
	margin: 0;
	padding: 10px 20px;
	font-style: italic;
}
.pagelet blockquote em {
	font-style: normal;
}

/* @end */


/* @group FORMS */

form {
	padding: 20px; margin: 20px 40px;
	border: 1px solid #CCC;
}
.pagelet form {
	margin: 0;
}

form.contactElement input.submit {
	max-width: 50%;
	min-width: 25%;
}

label {cursor: pointer;}
input, textarea, select {font-size:14px;}
input[type=text], input[type=email], textarea {
	padding: 4px; margin-bottom: 9px; border: 1px solid #ccc; color:#454545;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);	
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
		-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
		-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
		-o-transition: border linear 0.2s, box-shadow linear 0.2s;
		transition: border linear 0.2s, box-shadow linear 0.2s;
	border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
}
select {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	max-width: 200px;
	background-color: #ffffff;
	height: 28px;
	/* In IE7, the height of the select element cannot be changed by height, only font-size */
	*margin-top: 4px;
	/* For IE7, add top margin to align select with labels */
	line-height: 28px;
	display: inline-block;
	padding: 4px;
	margin-bottom: 9px;
	color: #555555;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	margin: 0;
	vertical-align: middle;
}
input[type=submit] {
	display: inline-block;
	padding: 4px 10px 4px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.4em;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: #fafafa;
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
		background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
		background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
		background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
		background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
		background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
		background-repeat: no-repeat;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	*margin-left: .3em;
}
input[type=submit]:first-child {
	*margin-left: 0;
}
input[type=submit]:hover {
	color: #333333;
	text-decoration: none;
	background-color: #e6e6e6;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
		-moz-transition: background-position 0.1s linear;
		-ms-transition: background-position 0.1s linear;
		-o-transition: background-position 0.1s linear;
		transition: background-position 0.1s linear;
}
input[type=submit]:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
input[type=submit].active, input[type=submit]:active {
	background-image: none;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	background-color: #e6e6e6;
	background-color: #d9d9d9 \9;
	color: rgba(0, 0, 0, 0.5);
	outline: 0;
}
form table {font-size:14px;}
td[colspan="2"] {text-align:center;}
#main input[type=text], #main input[type=email] {max-width:260px;}
body.no-sidebar #main form {padding:19px 40px;}
#sidebar form.labelsOnSide {font-size:13px !important;}

/* @end */

/* @group SITEMAP */

.wide .sitemap a,
.wide .sitemap li > span {display:block; padding:10px; }
.wide .sitemap .figure-content {padding:0 10px; margin:0;}
.wide .sitemap .figure-content p {margin:5px 0;}
.wide .sitemap ul {padding:5px 10px; list-style-type:none;}
.wide .sitemap li {
	list-style-type:none; margin:5px; border:1px solid #CCC;
	-webkit-transition:all 0.3s ease;
		-moz-transition:all 0.3s ease;
		-ms-transition:all 0.3s ease;
		transition:all 0.3s ease;
}
.wide .sitemap li:hover {
	border:1px solid #777;
	-webkit-transition:all 0.3s ease;
		-moz-transition:all 0.3s ease;
		-ms-transition:all 0.3s ease;
		transition:all 0.3s ease;
}

.sitemap {
	margin: 40px !important;
	border: 1px solid #CCC;
}
.sitemap .figure-content p {
	padding: 0 20px !important;
	margin-bottom: 0 !important;
}
.sitemap .figure-content ul {
	margin-top: 0 !important;
}
#sidebar .sitemap {
	margin: 0 !important;
	border: none;
}



/* @end */

/* @group SPECIFIC WIDGETS */

.flickr_badge_image {width:100px;}

/* @end */

/* @group EXTRAS */

.timestamp+div {margin-top:20px;}

/* @end */

/* @group IE7 FIXES */

*+html .hasSubmenu ul {top:45px !important;}

/* @end */


/* End of main.css */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
/* @group Retina-ready code */

.no-sidebar .photo-navigation .previous-page a,
.no-sidebar .photo-navigation .next-page a,
.no-sidebar .photo-navigation .collection-index a,
.allow-sidebar .photo-navigation .previous-page a,
.allow-sidebar .photo-navigation .next-page a,
.allow-sidebar .photo-navigation .collection-index a {
	background-image:url(images/arrows.svg);
}
#sitemenu-content > ul > li.hasSubmenu > .in,
#sitemenu-content > ul > li.hasSubmenu > a > .in {
	background: 10px 5px url(images/caret-up@2x.png) bottom no-repeat;
}
ul ul li.hasSubmenu > a > .in,
ul ul li.hasSubmenu > .in {
	background:	10px 10px url(images/caret-side@2x.png) no-repeat right;
}

/* @end */

}

/* @group COLORS - default scheme */

a:link, a:visited,a:hover, a:active,
.text-navigation a:hover, .text-navigation a:active,
h1, h1 a, #title p {color:#637C9A;}
#page-top, .bordered {border-top: 5px solid #637C9A;}
#sitemenu-container {background-color: #637C9A;}
.hasSubmenu ul {background-color: #637C9A !important;}
.gridItem:hover h3 a {color: #637C9A !important;}

#sitemenu .in:hover {background-color: #45576b !important;}

/* @end */

.callout-container, .graphic-container { clear:right; }

